<footer class="footer" id="footer" style="background-color:black;">
<div class="container">
  <p style="color:white; padding-top:1.5rem; text-align:center;">© Copyright 2021 PartyBox</p>
</div>
</footer>
