<%- include('partials/header') %>

<body style="background-color:black; text-color:white;">
  <div class="row  aboutbody">
    <div class="col-lg-4" style="text-align:center; ">
      <img style="height:30rem;padding-left:5%;" src="https://lh3.googleusercontent.com/UdsCEf3gs5SjT1TvUlfI7CyAvIkkjfIINy2VAQlVmvYPPjleo34WHZigQBTmpcdtCg5X9j3jYMsKLO9ayY0AkZ9idWTjy9thxdCsF8lhXYCwe0hE75GSr-LORRyJSoNW7P4UXBkCSg=w2400" alt="">
    </div>
    <div class="col-lg-6 " style="padding-left:10%;padding-right:10%">
      <h1 style="font-family: 'Montserrat', sans-serif;" class="aboutT" data-text="GeezRick">
   GeezRick</h1>
      <p>Hey everybody i'm GeezRick a full stack web developer here want to showcase you my website PartyBox! </p>
      <p style="font-family: 'Montserrat', sans-serif;" >
        The moto of this PartyBox is to serve the purpose of full-filling people need when they are in hurry but want to celebrate because they are just tired and waant to refresh their mood by ordering mood-fresher or when you forget your anniversary but still want to win a argument with your bae saying who is saying u forgot our anniversary. This partyBox has huge varity of range from which you can order and celebrate saying Hamari Pawri Ho Rahi Hai!
      </p>
      <p style="font-family: 'Montserrat', sans-serif;">So what are you waiting for get your party box today.</p>
    </div>
  </div>
</body>
<%- include('partials/footer') %>
