<%- include('partials/header') %>
<body style="text-align:center;">

  <div  >
    <img src="https://lh3.googleusercontent.com/jtVWfdISSOzAMwAZLVw8F-d4KXTZmIHKbJ_JcZ8bmlCuuUnaGeSJJQ6GtKtvLOKY92LxCPp-0a9A4d_EIa3OiQKGL3Y2gg2tzOv-2TELYm_ohaju0og_WrMFKdd26O1U8SoGFZ6bfw=w2400" alt="" style="height:30%;width:30%;">
  </div>

</body>
<%- include('partials/footer') %>
