<%- include('partials/header') %>
<body>

  <div class="jumbotron">
    <h1 class="display-4">Order Booked!</h1>
    <p class="lead">Check your Phone with registered number for confirmation SMS from PartyBox ;)</p>
    <hr class="my-4">
    <form  action="/" method="get">
      <button class="btn btn-success" type="submit" name="button">Home</button>
    </form>

  </div>

</body>
<%- include('partials/footer') %>
